<!DOCTYPE html>
<html>
<head>
	<title>Cybersrishti-2019</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/mdb.min.css">
	<script src="javascripts/jquery-3.3.1.min.js"></script>
	<script src="javascripts/popper.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/mdb.min.js"></script>
</head>
<body>

</body>
</html>