<!DOCTYPE html>
<html>
<head>
	<title>Cybersrishti-2019</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mdb.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loading-bar.css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script src="/javascripts/loading-bar.js"></script>
	<script src="/javascripts/particles.js"></script>
	<script>
	
	</script>
	<style>
		html, body{
			height: 100%;
			font-family: 'Audiowide', cursive;
		}
		.nav-link{
			color: white;
			font-family: 'Audiowide', cursive;
		}
		.nav-link:hover{
			color: white;
		}
		.animated{
			display: none;
		}
	</style>
</head>
<body>
	<div class="preloader container-fluid" style="background-color: #252627;padding: 0;height: 100%;overflow-y:hidden;">
		<center><div data-value="0" data-type="fill" data-img="/images/cyber_srishti_logo_copy.svg" class="ldBar auto" style="width: 50%;height:50%;" id="logo"></div></center>
	</div>
	<div class="fullBody container-fluid" style="background-color: #252627;padding: 0;height: 100%;overflow-x:hidden;display:none;">
		<div class="row" style="height:100%;">
			<div class="col-1" style="height:100%;position:fixed;z-index:3;">
				<nav class="navbar bg-dark" style="height:100%;">
					<ul class="navbar-nav" style="width:100%;">
						<center>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-home fa-2x"></i>
									<span class="animated">Home</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-user fa-2x"></i>
									<span class="animated">About Us</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-calendar-week fa-2x"></i>
									<span class="animated">Events</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-images fa-2x"></i>
									<span class="animated">Gallery</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-users-cog fa-2x"></i>
									<span class="animated">Our Team</span>
								</a>
							</li>
						</center>
					</ul>
				</nav>
			</div>
			<div class="col-12" style="color:white;overflow-x:hidden;">
				<div id="particles-js" style="position:absolute;width: 100%;height:100%;overflow:hidden;"></div>
				<br>
				<div class="row">
					<div class="col-12">
						<center>
							<h1>Events</h1>
						</center>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-3 offset-2">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-3 offset-2">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-3 offset-2">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="card">
							<div class="view overlay">
								<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" alt="Card image cap">
								<a>
									<div class="mask rgba-white-slight"></div>
								</a>
							</div>
							<div class="card-body elegant-color white-text rounded-bottom">
								<h4 class="card-title">Hub Name</h4>
								<hr class="hr-light">
								<p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="white-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Audiowide Font --}}
	{{!-- AIzaSyAnu2aaSXGSKGFat68JrW7oDNLVegDUvYI --}} {{!-- Google Maps API Key --}}
	<script src="/javascripts/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/popper.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/mdb.min.js"></script>
	<script>
		var i = 38;
		var bars = new ldBar("#logo");
		var f = setInterval(function(){
			if(i<70){
				bars.set(i+=0.7);
			}
			else{

				clearInterval(f);
			}
		}, 100);
		$(document).ready(function(e){
			loadComplete();
		});
		$(".nav-item").hover(function() {
			var s = $(this).children('a').children('span');
			s.show();
		}, function() {
			var s = $(this).children('a').children('span');
			s.hide();
		});
		function loadComplete(){
			$(".preloader").addClass('animated fadeOut');
			$(".preloader").css('display', 'none');
			$(".fullBody").css('display', 'block');
			$(".fullBody").addClass('animated fadeIn');
			particlesJS.load('particles-js', '/javascripts/particles.json', function(){
					console.log('callback - particles.js config loaded');
				}
			);
		}
	</script>
</body>
</html>